$primary: hsl(225, 100%, 50%);
$secondary: hsl(0, 0%, 94%);

$alert: hsl(4, 85%, 42%);
$success: hsl(125, 83%, 37%);
$light: hsl(0, 0%, 100%);
$medium: hsl(0, 0%, 60%);
$dark: hsl(0, 0%, 10%);

$html: #e34c26;
$javascript: #F0DB4F;

$base-gap: 18px;
$base-font-size: 16px;
$base-radius: 6px;
$base-transition: .3s;

@function rem($to-size, $from-size: $base-font-size) {
	@if $to-size == 0px {
		@return 0;
	}
	@return $to-size / $from-size * 1rem;
}

@font-face {
  font-family: 'MonoLisa';
  src: url('../fonts/MonoLisa-Regular.woff2') format('woff2'),
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: $primary;
  color: $light;
}

::-moz-selection {
  background: $primary;
  color: $light;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
}

h1, h2 {
  color: $primary;
  line-height: calc(1em + 12px);
  word-wrap: break-word;
}

h1 {
  font-size: clamp(#{rem(25px)}, 4vw, #{rem(60px)});
  &.h1 {
    color: $light;
  }
}

h2 {
  margin-block-end: 1em;
  font-size: clamp(#{rem(20px)}, 3vw, #{rem(34px)});
  background-image: linear-gradient(to right, $primary, rgb(97, 0, 161), $html, $javascript);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

p {
  margin-bottom: rem($base-gap);
  font-size: clamp(#{rem($base-font-size)}, 2vw, #{rem(20px)});
  color: $dark;
  line-height: calc(1em + 10px);
  word-wrap: break-word;
}

.hr {
  width: 100%;
  height: 1px;
  background: $medium;
}

header {
  background: linear-gradient(45deg, $primary, rgb(97, 0, 161), $html, $javascript);
  position: relative;
  display: flex;
  align-items: center;
  padding-block: 5em;
  color: $light;
  width: 100%;

  nav {
    margin: 0 auto;
    max-width: rem(1200px);
  }

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }
  .table-of-contents {
    list-style-position: inside;
    li {
      font-size: clamp(#{rem($base-font-size)}, 3vw, #{rem(30px)});
      &:not(:first-child) {
        margin-top: .75em;
      }
      &:last-child {
        margin-top: 1.5em;
        list-style: none;
      }
      a {
        color: $light;
      }
    }
  }
}

section {
  margin: 0 auto;
  max-width: rem(1200px);
}

pre {
  margin-bottom: rem($base-gap);
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  code.hljs.hljs {
    background: $secondary;
    border-radius: $base-radius;
    font-size: clamp(#{rem(14px)}, 2vw, #{rem($base-font-size)});
    font-family: "MonoLisa";
    &.error.error {
      background: lighten($alert, 50%);
    }
  }
  .language-html, .language-javascript {
    position: relative;
  }
  
  .language-html::before, .language-javascript::before {
    position: absolute;
    top: 0;
    padding: .3rem 1rem;
    border-radius: 0 0 $base-radius $base-radius;
    color: #0d1117;
    font-size: 12px;
  }
  
  .language-html::before {
    content: "HTML";
    background: $html;
    color: $light;
  }
  
  .language-javascript::before {
    content: "JS";
    background: $javascript;
  }
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: rem($base-gap);
  margin-bottom: 1rem;
  .btn {
    background: none;
    padding: 1rem 2rem;
    border-radius: $base-radius;
    text-transform: uppercase;
    font-weight: 700;
    transition: $base-transition;
    cursor: pointer;
  
    &.log {
      border: 1px solid $success;
      color: $success;
      i {
        padding-right: 6px;
      }
      &:hover {
        background: $success;
      }
    }
  
    &.clear {
      border: 1px solid $alert;
      color: $alert;
      i {
        padding-right: 6px;
      }
      &:hover {
        background: $alert;
      }
    }
  
    &:hover {
      color: $light;
    }
  }
}

footer {
  background: linear-gradient(45deg, $primary, rgb(97, 0, 161), $html, $javascript);
  min-height: 20vh;
  text-align: center;
  color: $light;
  font-size: rem($base-font-size);
  display: flex;
  align-items: center;

  > div {
    margin: 0 auto;
    width: 100%;
    max-width: rem(1000px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: rem($base-gap);
  }

  a {
    display: block;
    color: $light;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 480px) {
  header, footer {
    background-size: 175%;
  }
  section {
    padding-block: 4em;
  }
  section, nav, footer {
    padding-left: rem(20px);
    padding-right: rem(20px);
  }
  h1 {
    margin-block-end: 1em;
  }
  pre code.hljs.hljs {
    padding: 2rem 1rem 1rem;
  }
  .language-html::before, .language-javascript::before  {
    left: 1rem;
  }
  section .hr {
    margin: 3rem 0;
  }
}

@media screen and (min-width: 481px) {
  section {
    padding-block: 3.5em;
  }
  header {
    min-height: 40vh;
  }
  header, footer {
    background-size: 150%;
  }
  section, nav, footer {
    padding-left: rem(35px);
    padding-right: rem(35px);
  }
  h1 {
    margin-block-end: 1.25em;
  }
  pre code.hljs.hljs {
    padding: 2rem 1.5rem 1.5rem;
  }
  section .hr {
    margin: 3.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  header {
    min-height: 50vh;
  }
  header, footer {
    background-size: 125%;
  }
  section {
    padding-block: 6em;
  }
  section, nav, footer {
    padding-left: rem(50px);
    padding-right: rem(50px);
  }
  h1 {
    margin-block-end: 1.5em;
  }
  .language-html::before, .language-javascript::before  {
    left: 1.5rem;
  }
  section .hr {
    margin: 4rem 0;
  }
}

@media screen and (min-width: 978px) {
  header {
    min-height: 65vh;
  }
  h1 {
    margin-block-end: 1.6em;
  }
  header, footer {
    background-size: 100%;
  }
  section, nav, footer {
    padding-left: rem(75px);
    padding-right: rem(75px);
  }
  pre code.hljs.hljs {
    padding: 2rem;
  }
  section .hr {
    margin: 5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  header {
    min-height: 80vh;
  }
  section {
    padding-block: 8em;
  }
  section, nav, footer {
    padding-left: rem(100px);
    padding-right: rem(100px);
  }
  h1 {
    margin-block-end: 2em;
  }
  .language-html::before, .language-javascript::before  {
    left: 2rem;
  }
  section .hr {
    margin: 6rem 0;
  }
}